@model UDS.Net.Forms.Pages.Visits.DetailsModel

@if (Model.Visit.TotalUnresolvedErrorCount.HasValue && Model.Visit.TotalUnresolvedErrorCount != 0)
{
    <div class="mt-2 flex items-center text-sm text-red-800 group relative">
        <svg class="h-5 w-5 text-red-400 mr-1.5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd"></path>
        </svg>

        <button type="button"
                onclick="toggleErrorModal(true)"
                class="font-medium underline text-red-800 hover:text-red-900 focus:outline-none">
            @Model.Visit.TotalUnresolvedErrorCount.Value errors
        </button>
    </div>
}
