@model IEnumerable<UDS.Net.Services.VisitValidationResult>
@{
}

<turbo-frame id="PacketAlerts">
    @if (Model != null)
    {<div class="overflow-hidden rounded-md bg-white shadow m-12">
            <div class="rounded-md bg-amber-50 p-4">
                <div class="flex">
                    <div class="shrink-0">
                        <svg class="size-5 text-amber-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        @if (Model.Count() > 1)
                        {
                            <h3 class="text-sm font-medium text-amber-800">
                                There were @Model.Count() alerts with your submission
                            </h3>

                        }
                        else
                        {
                            <h3 class="text-sm font-medium text-amber-800">
                                There was @Model.Count() alert with your submission
                            </h3>
                        }
                    </div>
                </div>
            </div>
            <ul role="list" class="divide-y divide-gray-200 text-gray-500">
                @foreach (var result in Model)
                {
                    <li class="px-6 py-4">
                        @result.ErrorMessage
                    </li>
                }

                <!-- More items... -->
            </ul>
        </div>
    }
</turbo-frame>