@page "{id:int?}"
@model UDS.Net.Forms.Pages.Visits.DetailsModel
@{
    ViewData["Title"] = Model.PageTitle;
}

@if (Model.Visit != null)
{

    <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
        <div class="py-6 lg:col-span-3">

            @if (Model.Visit != null && Model.Visit.Forms != null)
            {
                <partial name="_NavSidebarForms" model="@Model.Visit" />
            }


        </div>
        <div class="lg:col-span-9 px-5 py-6">
            <div class="mx-auto max-w-7xl">
                <partial name="_VisitDetailsHeaderPartial" model="Model" />
            </div>

            @await Html.PartialAsync("_FormsGridPartial", Model.Visit)

        </div>
    </div>

}