@{
    // Need to figure out model structure
    // TODO Only display links to forms applicable for visit type
}

<nav aria-label="Sidebar" class="mt-5">
    <div class="space-y-1 px-2">

        <!-- Current: "bg-gray-100 text-gray-900", Default: "text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
        <a asp-page="/UDS3/A1" class="bg-gray-100 text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            <!-- Current: "text-gray-500", Default: "text-gray-400 group-hover:text-gray-500" -->
            A1: Participant Demographics
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            A2: Co-participant Demographics
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            A3: Participant Family History
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            A4: Participant Medications
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            A5: Participant Health History
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            B1: Evaluation Form - Physical
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            B1A: Evaluation Form - Blood Pressure Addendum
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            B4: CDR&reg; Demential Staging Instrument Plus NACC FTLD Behavior &amp; Language Domains
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            B5: Behavioral Assessment &mdash; Neuropsychiatric Inventory Questionnaire (NPI-Q)
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            B6: Behavioral Assessment &mdash; Geriatric Depression Scale
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            B7: Functional Assessment &mdash; NACC Functional Assessment Scale
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            B8: Evaluation Form &mdash; Neurological Examination Findings
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            B9: Clinician Judgment of Symptoms
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            C1: Neuropsychological Battery Scores
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            C2: Neuropsychological Battery Scores
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            C2T: Neuropsychological Battery Scores
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            D1: Clinician Diagnosis
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            D2: Clinician-assessed Medical Conditions
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            T1: Inclusion Form
        </a>

        <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
            Z1X: Form Checklist
        </a>
    </div>
</nav>