@page  "{id:int?}"
@model UDS.Net.Forms.Pages.UDS3.A3Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <h2 class="text-lg font-medium leading-6 text-gray-900">A2: Co-participant Demographics</h2>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: This form is to be completed by a clinician with experience in evaluating patients with neurological problems and psychiatric conditions. For additional clarification and examples, see <guidebook kind="@Model.Visit.Kind"></guidebook>, Form A3.
    </p>
</div>
<div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

    </div>
</div>
<partial name="_FormFooter" for="@Model.A3" />
