@page  "{id:int?}"
@model UDS.Net.Forms.Pages.UDS3.B4Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <h2 class="text-lg font-medium leading-6 text-gray-900">B4: CDR&reg; Plus NACC FTLD</h2>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: For information on the required online CDR training, see <guidebook kind="@Model.Visit.Kind"></guidebook>, Form B4. This form is to be completed by the clinician or other trained health professional, based on co-participant report and behavioral and neurological exam of the participant. In the extremely rare instances when no co-participant is available, the clinician or other trained health professional must complete this form using all other available information and his/her best clinical judgment. Score only as decline from previous level due to <span class="underline">cognitive loss</span>, not impairment due to other factors, such as physical disability. For further information, see <guidebook kind="@Model.Visit.Kind"></guidebook>, Form B4.
    </p>
</div>
<div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

    </div>
</div>
<partial name="_FormFooter" for="@Model.B4" />
