@page  "{id:int?}"
@model UDS.Net.Forms.Pages.UDS3.C2Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <h2 class="text-lg font-medium leading-6 text-gray-900">C2: Neuropsychological Battery Scores</h2>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: This form is to be completed by ADC or clinic staff. For test administration and scoring, see <guidebook kind="@Model.Visit.Kind"></guidebook>, Form C2. Any new participants who enroll in the UDS after the implementation of UDS3 must be assessed with the new neuropsychological test battery (Form C2).
    </p>
</div>
<div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

    </div>
</div>
<partial name="_FormFooter" for="@Model.C2" />
