@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" method="POST">
    <input type="hidden" value="1000" name="LegacyId" />
    <input type="hidden" value="1" name="ExistingVisitId" />
    <button type="submit">Go</button>
</form>

<form asp-action="Index" method="POST">
    <input type="hidden" value="1000" name="LegacyId" />
    <button type="submit">New visit</button>
</form>

<form asp-action="Packets" method="POST">
    <input type="hidden" value="1000" name="LegacyId" />
    <input type="hidden" value="1" name="VisitId" />
    <button type="submit">Submissions</button>
</form>