@page
@model UDS.Net.Forms.Pages.Participations.IndexModel

@{
    ViewData["Title"] = "Participation";
}

<div class="pb-4 pt-6 sm:pb-6">
    <div class="mx-auto flex flex-wrap items-center gap-6 px-4 sm:flex-nowrap sm:px-6 lg:px-8">
        <a asp-page="Create" class="ml-auto flex items-center gap-x-1 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            <svg class="-ml-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"></path>
            </svg>
            New participation
        </a>
    </div>

</div>


@if (Model.Participations != null)
{
    <div class="space-y-16 py-16 xl:space-y-20">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <h2 class="mx-auto max-w-2xl text-base font-semibold leading-6 text-gray-900 lg:mx-0 lg:max-w-none">All participations</h2>
        </div>
        <div class="mt-6 overflow-hidden border-t border-gray-100">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
                    <table class="w-full text-left">
                        <thead>
                            <tr>
                                <th>Participation Id</th>
                                <th>NACC Id</th>
                                <th>Visit count</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var participation in Model.Participations)
                            {
                                <tr>
                                    <td>@participation.Id</td>
                                    <td>@participation.LegacyId</td>
                                    <td>@participation.VisitCount</td>
                                    <td><a asp-page="Details" asp-route-id="@participation.Id" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">View</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


}

