
/* Counters */
.counterreset {
    counter-reset: section;
}

.counter::before {
    counter-increment: section;
    content: counter(section) ".";
    font-weight: 700;
}

.subcounterreset {
    counter-reset: subsection;
}

.subcounter::before {
    counter-increment: subsection;
    content: counter(section) counter(subsection, lower-alpha) ".";
}

.subsubcounterreset {
    counter-reset: subsubsection;
}

.subsubcounter::before {
    counter-increment: subsubsection;
    content: counter(section) counter(subsection, lower-alpha) counter(subsubsection, decimal) ".";
}

.subsubsubcounterreset {
    counter-reset: subsubsubsection;
}

.subsubsubcounter::before {
    counter-increment: subsubsubsection;
    content: counter(section) counter(subsection, lower-alpha) counter(subsubsection, decimal) counter(subsubsubsection, lower-alpha) ".";
}

.invisible {
    padding: 0;
    margin: 0;
    display: inline-block; /* increment will not work if display is none */
    width: 0;
    max-width: 0;
}
