@model PacketSubmissionModel
@{
}


<turbo-frame id="PacketSubmissions">
    <form method="post" asp-page="../PacketSubmissions/Edit">
        <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
            <h1>Update packet with failed status</h1>
        </div>
    </form>
</turbo-frame>