@page "{id:int?}"
@model UDS.Net.Forms.Pages.PacketSubmissions.IndexModel
@{
    ViewData["Title"] = Model.PageTitle;
}


@if (Model.Packet != null)
{
    <div class="pb-4 pt-6 sm:pb-6">
        <div class="mx-auto flex flex-wrap items-center gap-6 px-4 sm:flex-nowrap sm:px-6 lg:px-8">
            <a asp-page="Create" asp-route-packetId="@Model.Packet.Id" class="ml-auto flex items-center gap-x-1 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                <svg class="-ml-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"></path>
                </svg>
                New packet submission
            </a>
        </div>
    </div>
    <partial name="_Index" model="Model.Packet" />
}