
<div class="bg-indigo-600 pb-32">
    <partial name="_NavigationMenu" />
    <header class="py-10">
        <div class="mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-white">@ViewData["Title"]</h1>
        </div>
    </header>
</div>