name: Unit Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: [ "main" ]

env:
  DOTNET_VERSION: '10.0.x'

permissions: read-all

jobs:
  test:

    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Add private nuget feed for preview versions of packages
      run:  dotnet nuget add source "https://nuget.pkg.github.com/UK-SBCoA/index.json" --name "githubfeed" --username "${{ secrets.GITHUB_TOKEN }}" --password "${{ secrets.GITHUB_TOKEN }}" --store-password-in-clear-text
      
    - name: Restore dependencies
      run: dotnet restore src/UDS.Net.sln
    
    - name: Build
      run: dotnet build src/UDS.Net.sln --no-restore --configuration Debug 
    
    - name: Test
      run: dotnet test src/UDS.Net.Services.Test/UDS.Net.Services.Test.csproj --no-build --verbosity normal
